<!-- -*- HTML -*- -->
<!-- FIXME Our friend the javascript scrubber bypass -->
<p class="javascript">var googleimages_initial_query="<TMPL_VAR NAME="query">";</p>

<div class="googleimages_container box">
  <div class="googleimages_header"><h2>Google images</h2></div>
  <div id="googleimages_searchControl">Loading...</div>
  <div class="clear-both"></div>
</div>
