<!-- -*- HTML -*- -->
<div class="species_container box">
  <div class="species_header"><h2><a href="<TMPL_VAR taxonomy_root_url>">Taxonomy</a></h2></div>
  <div id="species_tree"></div>
  <div class="clear-both"></div>
</div>
